https://www.wsj.com/market-data/stocks

In [9]:
from bs4 import BeautifulSoup as bs
from urllib.request import Request, urlopen

In [32]:
import pandas as pd

In [18]:
import json

In [17]:
# url = "https://www.wsj.com/market-data/stocks?mod=nav_top_subsection"
url = "https://www.wsj.com/market-data/stocks?id=%7B%22application%22%3A%22WSJ%22%2C%22marketsDiaryType%22%3A%22overview%22%7D&type=mdc_marketsdiary"

req = Request(url, headers = {'User-Agent': 'Mozilla/5.0'})

webpage = urlopen(req).read()

In [13]:
webpage

b'{"id":"{\\"application\\":\\"WSJ\\",\\"marketsDiaryType\\":\\"overview\\"}","type":"mdc_marketsdiary","data":{"instrumentSets":[{"headerFields":[{"value":"name","label":"Issues"}],"instruments":[{"name":"Advancing","NASDAQ":"1,514","NYSE":"1,386"},{"name":"Declining","NASDAQ":"3,183","NYSE":"1,919"},{"name":"Unchanged","NASDAQ":"295","NYSE":"176"},{"name":"Total","NASDAQ":"4,992","NYSE":"3,481"}]},{"headerFields":[{"value":"name","label":"Issues At"}],"instruments":[{"name":"New Highs","NASDAQ":"59","NYSE":"104"},{"name":"New Lows","NASDAQ":"315","NYSE":"126"}]},{"headerFields":[{"value":"name","label":"Share Volume"}],"instruments":[{"name":"Total","NASDAQ":"5,219,092,904","NYSE":"5,188,910,854"},{"name":"Advancing","NASDAQ":"1,639,466,086","NYSE":"1,933,871,062"},{"name":"Declining","NASDAQ":"3,529,940,193","NYSE":"3,213,498,115"},{"name":"Unchanged","NASDAQ":"49,686,625","NYSE":"41,541,677"}]}],"timestamp":"4:15 PM EST 3/03/22"},"hash":"{\\"id\\":\\"{\\\\\\"application\\\\\\":\\\\\\"WSJ\\\\\\",\\\\\\"marketsDiaryType\\\\\\":\\\\\\"overview\\\\\\"}\\",\\"type\\":\\"mdc_marketsdiary\\",\\"data\\":{\\"instrumentSets\\":[{\\"headerFields\\":[{\\"value\\":\\"name\\",\\"label\\":\\"Issues\\"}],\\"instruments\\":[{\\"name\\":\\"Advancing\\",\\"NASDAQ\\":\\"1,514\\",\\"NYSE\\":\\"1,386\\"},{\\"name\\":\\"Declining\\",\\"NASDAQ\\":\\"3,183\\",\\"NYSE\\":\\"1,919\\"},{\\"name\\":\\"Unchanged\\",\\"NASDAQ\\":\\"295\\",\\"NYSE\\":\\"176\\"},{\\"name\\":\\"Total\\",\\"NASDAQ\\":\\"4,992\\",\\"NYSE\\":\\"3,481\\"}]},{\\"headerFields\\":[{\\"value\\":\\"name\\",\\"label\\":\\"Issues At\\"}],\\"instruments\\":[{\\"name\\":\\"New Highs\\",\\"NASDAQ\\":\\"59\\",\\"NYSE\\":\\"104\\"},{\\"name\\":\\"New Lows\\",\\"NASDAQ\\":\\"315\\",\\"NYSE\\":\\"126\\"}]},{\\"headerFields\\":[{\\"value\\":\\"name\\",\\"label\\":\\"Share Volume\\"}],\\"instruments\\":[{\\"name\\":\\"Total\\",\\"NASDAQ\\":\\"5,219,092,904\\",\\"NYSE\\":\\"5,188,910,854\\"},{\\"name\\":\\"Advancing\\",\\"NASDAQ\\":\\"1,639,466,086\\",\\"NYSE\\":\\"1,933,871,062\\"},{\\"name\\":\\"Declining\\",\\"NASDAQ\\":\\"3,529,940,193\\",\\"NYSE\\":\\"3,213,498,115\\"},{\\"name\\":\\"Unchanged\\",\\"NASDAQ\\":\\"49,686,625\\",\\"NYSE\\":\\"41,541,677\\"}]}],\\"timestamp\\":\\"4:15 PM EST 3/03/22\\"}}"}'

In [19]:
data = json.loads(webpage)
print(type(data))

<class 'dict'>

In [35]:
data

{'id': '{"application":"WSJ","marketsDiaryType":"overview"}',
 'type': 'mdc_marketsdiary',
 'data': {'instrumentSets': [{'headerFields': [{'value': 'name',
      'label': 'Issues'}],
    'instruments': [{'name': 'Advancing', 'NASDAQ': '1,514', 'NYSE': '1,386'},
     {'name': 'Declining', 'NASDAQ': '3,183', 'NYSE': '1,919'},
     {'name': 'Unchanged', 'NASDAQ': '295', 'NYSE': '176'},
     {'name': 'Total', 'NASDAQ': '4,992', 'NYSE': '3,481'}]},
   {'headerFields': [{'value': 'name', 'label': 'Issues At'}],
    'instruments': [{'name': 'New Highs', 'NASDAQ': '59', 'NYSE': '104'},
     {'name': 'New Lows', 'NASDAQ': '315', 'NYSE': '126'}]},
   {'headerFields': [{'value': 'name', 'label': 'Share Volume'}],
    'instruments': [{'name': 'Total',
      'NASDAQ': '5,219,092,904',
      'NYSE': '5,188,910,854'},
     {'name': 'Advancing', 'NASDAQ': '1,639,466,086', 'NYSE': '1,933,871,062'},
     {'name': 'Declining', 'NASDAQ': '3,529,940,193', 'NYSE': '3,213,498,115'},
     {'name': 'Unchanged', 'NASDAQ': '49,686,625', 'NYSE': '41,541,677'}]}],
  'timestamp': '4:15 PM EST 3/03/22'},
 'hash': '{"id":"{\\"application\\":\\"WSJ\\",\\"marketsDiaryType\\":\\"overview\\"}","type":"mdc_marketsdiary","data":{"instrumentSets":[{"headerFields":[{"value":"name","label":"Issues"}],"instruments":[{"name":"Advancing","NASDAQ":"1,514","NYSE":"1,386"},{"name":"Declining","NASDAQ":"3,183","NYSE":"1,919"},{"name":"Unchanged","NASDAQ":"295","NYSE":"176"},{"name":"Total","NASDAQ":"4,992","NYSE":"3,481"}]},{"headerFields":[{"value":"name","label":"Issues At"}],"instruments":[{"name":"New Highs","NASDAQ":"59","NYSE":"104"},{"name":"New Lows","NASDAQ":"315","NYSE":"126"}]},{"headerFields":[{"value":"name","label":"Share Volume"}],"instruments":[{"name":"Total","NASDAQ":"5,219,092,904","NYSE":"5,188,910,854"},{"name":"Advancing","NASDAQ":"1,639,466,086","NYSE":"1,933,871,062"},{"name":"Declining","NASDAQ":"3,529,940,193","NYSE":"3,213,498,115"},{"name":"Unchanged","NASDAQ":"49,686,625","NYSE":"41,541,677"}]}],"timestamp":"4:15 PM EST 3/03/22"}}'}

In [29]:
i = 0
for test in data['data']['instrumentSets']:
    print(test)
    print("test number {}".format(i))
    i=+1

{'headerFields': [{'value': 'name', 'label': 'Issues'}], 'instruments': [{'name': 'Advancing', 'NASDAQ': '1,514', 'NYSE': '1,386'}, {'name': 'Declining', 'NASDAQ': '3,183', 'NYSE': '1,919'}, {'name': 'Unchanged', 'NASDAQ': '295', 'NYSE': '176'}, {'name': 'Total', 'NASDAQ': '4,992', 'NYSE': '3,481'}]}
test number 0
{'headerFields': [{'value': 'name', 'label': 'Issues At'}], 'instruments': [{'name': 'New Highs', 'NASDAQ': '59', 'NYSE': '104'}, {'name': 'New Lows', 'NASDAQ': '315', 'NYSE': '126'}]}
test number 1
{'headerFields': [{'value': 'name', 'label': 'Share Volume'}], 'instruments': [{'name': 'Total', 'NASDAQ': '5,219,092,904', 'NYSE': '5,188,910,854'}, {'name': 'Advancing', 'NASDAQ': '1,639,466,086', 'NYSE': '1,933,871,062'}, {'name': 'Declining', 'NASDAQ': '3,529,940,193', 'NYSE': '3,213,498,115'}, {'name': 'Unchanged', 'NASDAQ': '49,686,625', 'NYSE': '41,541,677'}]}
test number 1

In [31]:
data['data']['instrumentSets'][2]['instruments']

[{'name': 'Total', 'NASDAQ': '5,219,092,904', 'NYSE': '5,188,910,854'},
 {'name': 'Advancing', 'NASDAQ': '1,639,466,086', 'NYSE': '1,933,871,062'},
 {'name': 'Declining', 'NASDAQ': '3,529,940,193', 'NYSE': '3,213,498,115'},
 {'name': 'Unchanged', 'NASDAQ': '49,686,625', 'NYSE': '41,541,677'}]

In [83]:
df_list = []
for i in data['data']['instrumentSets']:
    df_list.append(pd.DataFrame.from_dict(i['instruments']))

In [37]:
data['data']['timestamp']

'4:15 PM EST 3/03/22'

# Number Advancing and Decline

number of equities that are advancing or declining

In [43]:
df_list[0]

        name NASDAQ   NYSE
0  Advancing  1,514  1,386
1  Declining  3,183  1,919
2  Unchanged    295    176
3      Total  4,992  3,481

In [151]:
df_list[0].NASDAQ = df_list[0].NASDAQ.apply(lambda x : x.replace(',',''))
df_list[0].NYSE = df_list[0].NYSE.apply(lambda x : x.replace(',',''))
df_list[0]

        name NASDAQ  NYSE
0  Advancing   1514  1386
1  Declining   3183  1919
2  Unchanged    295   176
3      Total   4992  3481

In [153]:
df_list[0].NASDAQ = df_list[0].NASDAQ.astype(int)
df_list[0].NYSE = df_list[0].NYSE.astype(int)
df_list[0]

        name  NASDAQ  NYSE
0  Advancing    1514  1386
1  Declining    3183  1919
2  Unchanged     295   176
3      Total    4992  3481

In [156]:
# pct advancing
df_list[0].NASDAQ[0] / df_list[0].NASDAQ[3]

0.3032852564102564

# New Highs and Lows

Equities making a new high or low

In [44]:
df_list[1]

        name NASDAQ NYSE
0  New Highs     59  104
1   New Lows    315  126

# NYSE and Nasdaq volume

Total volume traded and volume broken out by Up and Down. Can calculate %UPVOL and %DVOL

In [84]:
df_list[2]

        name         NASDAQ           NYSE
0      Total  5,219,092,904  5,188,910,854
1  Advancing  1,639,466,086  1,933,871,062
2  Declining  3,529,940,193  3,213,498,115
3  Unchanged     49,686,625     41,541,677

In [87]:
for col in df_list[2]:
    print(col)

name
NASDAQ
NYSE

In [90]:
for col in df_list[2]:
    if col == 'name':
        continue
    for i in range(len(df_list[2][col])):
        df_list[2][col][i] = int(df_list[2][col][i].replace(',',''))
        
df_list[2]

        name      NASDAQ        NYSE
0      Total  5219092904  5188910854
1  Advancing  1639466086  1933871062
2  Declining  3529940193  3213498115
3  Unchanged    49686625    41541677

In [124]:
for col, row in df_list[2].items():
    print(col)
    print(row)

name
0        Total
1    Advancing
2    Declining
3    Unchanged
Name: name, dtype: object
NASDAQ
0    5219092904
1    1639466086
2    3529940193
3      49686625
Name: NASDAQ, dtype: object
NYSE
0    5188910854
1    1933871062
2    3213498115
3      41541677
Name: NYSE, dtype: object

In [111]:
# %UPVOL
round(df_list[2]['NASDAQ'][1] / df_list[2]['NASDAQ'][0], 4)

0.3141

In [134]:
round(df_list[2][df_list[2].name == 'Advancing']['NASDAQ'].values[0] / df_list[2][df_list[2].name == 'Total']['NASDAQ'].values[0], 4)

0.3141